@using global::MonorailCss
@inherits LayoutComponentBase

<HeadContent>
    <style>
        @_cssContent
    </style>
</HeadContent>

<div id="main-app" class="font-sans bg-gray-900 h-screen flex flex-col">
    <NavMenu />
    <main class="flex-auto">
        @Body
    </main>
</div>


@code{
    private string _cssContent = null!;

    protected override void OnAfterRender(bool firstRender)
    {
        var values = MonorailCss.CssClassValues();
        var framework = new CssFramework();
        _cssContent = framework.Process(values);
        base.OnAfterRender(firstRender);
    }
}