@using global::MonorailCss
@inherits LayoutComponentBase


<HeadContent>
    <style>
        @_cssContent
    </style>
</HeadContent>

<div id="main-app" class="font-sans bg-gray-900 h-screen flex flex-col">
    <header class="flex flex-row">
        <div class="flex-auto uppercase py-3 pl-5 pr-3 items-center space-x-4 antialiased text-gray-100 font-thin text-3xl">
            Monorail<span class="text-sky-400 font-black">Play</span>
        </div>
        <div class="items-center py-4 mr-4">
            <a href="https://github.com/monorailcss/MonorailCss.Framework" target="_blank"><Icons.Brands.Github class="w-8 text-slate-400 hover:text-sky-400"></Icons.Brands.Github></a>
        </div>
    </header>
    <main class="flex-auto">
        @Body
    </main>
</div>


@code{
    private string _cssContent = null!;

    protected override void OnAfterRender(bool firstRender)
    {
        var values = MonorailCss.CssClassValues();
        var framework = new CssFramework();
        _cssContent = framework.Process(values);
        base.OnAfterRender(firstRender);
    }
}